<!DOCTYPE html>
<html>
<head>
<title>配色集锦</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- import CSS -->
  <link rel="stylesheet" href="./lib/elementui/index.css">
  <style>
  .el-col {
    border-radius: 4px;
    height:100px;
    text-align:center;
  }
  .cbox {
    width: 100%;
    height: 60px;
    color: white;
  }
  </style>
</head>
<body>
  <div id="app">
    <template v-for="(grp, gidx) in groups">
	    <div>{{grp.title}}</div>
	    <el-row :gutter="10">
	      <el-col v-for="(blk, bidx) in grp.blocks" v-bind:key="blk.name" :xs="8" :sm="6" :md="4" :lg="3" :xl="1">
	      	<div class="cbox" :style="{background:blk.color,color:blk.txtcolor}">{{blk.name}}</div>
	      	<div><span :style="{color:blk.color}">bg:{{blk.color}}</span></div>
	      	<div v-if="blk.txtcolor!=undefined"><span :style="{color:blk.txtcolor}">text:{{blk.txtcolor}}</span></div>
	      </el-col>
	    </el-row>
    </template>
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="./js/vue.js"></script>
  <!-- import JavaScript -->
  <script src="./lib/elementui/index.js"></script>
  <script src="./app.js"></script>
</html>